# Archivos de caché de Python
*.pyc
*.pyo
__pycache__/

# Archivos de caché de pip
*.pyc
*.pyo
__pycache__/

# Entornos virtuales
venv/


# Ignorar el archivo de configuración local de Django
*.sqlite3
db.sqlite3

# Ignorar archivos de registro y archivos de compilación
logs/
*.log
*.pot
*.pyo
*.swp

# Ignorar directorios y archivos generados por herramientas de desarrollo
venv/
node_modules/
static/
media/
.env

# Ignorar archivos de configuración de IDE
.vscode/
.idea/

# Ignorar archivos de migraciones de Django
/migrations/
